<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<table align="center" border="1">
    <h1 align="center">Register Form </h1>
        <tr>
            <td>First name</td>
            <td><input type="text" placeholder="first name"></td>
        </tr>

        <tr>
            <td>Last name</td>
            <td><input type="text" placeholder="Last name"></td>
        </tr>

        <tr>
            <td>Username</td>
            <td><input type="text" placeholder="User name"></td>
        </tr>

        <tr>
            <td>Emial</td>
            <td><input type="text" placeholder="Email"></td>
        </tr>

        <tr>
            <td>Mobile</td>
            <td><input type="number" placeholder="Mobile"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" placeholder="password"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button type="submit">Submit</button></td>
        </tr>
    </table>
</body>
</html>